h1 {
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 50px;
  padding: 30px 0;
}
strong {
  font-family: "Cabin Sketch", cursive;
  font-size: 60px;
}
img {
  max-width: 50%;
}
hr {
  border-top: 3px solid #22350d;
}

a {
  text-decoration: none;
  color: #22350d;
}
input {
  color: #22350d;
}
.container {
  width: 50%;
  background-color: rgb(252, 233, 232);
  color: #22350d;
  opacity: 0.9;
}
.city {
  font-size: 40px;
  font-family: "Cabin Sketch", cursive;
}
.date {
  font-size: 30px;
  font-family: "Cabin Sketch", cursive;
}

.temperature {
  font-size: 30px;
  font-family: "Cabin Sketch", cursive;
}

.col-2 {
  text-align: center;
  font-family: "Cabin Sketch", cursive;
  font-size: 20px;
  padding-bottom: 30px;
}
.weather-description {
  text-transform: capitalize;
  font-family: "Cabin Sketch", cursive;
}
